.container-fluid {
    min-height: calc(100vh - 81px);
    margin-bottom: 20px;
}

.container {
    width: auto;
    margin: 0px 0px 0px 0px;
    margin-right: 0px;
}

.content {
    padding: 0px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/qbkls/qbkls.png");
    margin: 0px;
    color: #777777;
    height: auto;
}

#top-bar {
    background-color:#ffffff;
    border-bottom: 2px solid #cccccc;
}

#name {
    color: #ffffff;
    background: #4aaaa5;
    padding: 20px;
    margin: 0px;
    float: left;
}

@media screen and (min-width: 768px) {
    nav {
        float: right;
        font-size: 16px;
        background-color: #ffffff;
        margin: 18px 0px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        font-size: 16px;
        background-color: #ffffff;
        padding: 10px 0px;
    }
}


a:link,
a:visited,
a:active {
    color: #777777;
    text-decoration: none;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-weight: bold;
    padding: auto;
    height: 75px;
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

.teal-heading {
    color: #4aaaa5;
    padding: 0px 0px 25px 0px;
    border-bottom: 3px solid #cccccc;
    margin: 10px 0px 30px 0px;
}

p {
    line-height: 2;
    margin: 0px;
}

footer {
    border-top: 8px solid #4aaaa5;
    background: #666666;

    padding: 25px 0px 10px 0px;
    margin-top: 20px;

    color: whitesmoke;
    font-size: 12px;
    text-align: center
}

#footer-container {
    margin: auto;
}


/* ABOUT ME PAGE */

#me {
    padding: 0px;
    border: 1px solid #dddddd;
}

#bio {
    background-color:#ffffff;
    border: 1px solid #dddddd;
    padding: 25px;
    margin-top: 20px;
}

/* PORTFOLIO PAGE */

#projects {
    background-color:#ffffff;
    border: 1px solid #dddddd;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-left {
    margin: 0px 32px 0px 0px;
    height: 220px;
    margin-bottom: 20px;
}

.icon-right {
    margin: 0px 0px 0px 0px;
    height: 140px;
}

.project-title {
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    background: #4aaaa5;
    text-align: center;
    
    padding: 10px 0px 10px 0px;

    width: auto;
    margin: 0px;

    /* position: relative;
    bottom: 60px; */

    pointer-events: none;
}

.source-code-link {
    position: relative;
}

.p-img {
    width: 250px;
    height: 140px;
}

#p1, #p2, #p3, #p4, #p5, #p6 {
    display: inline-block;
}

/* CONTACT PAGE */
input, textarea {
    width: 100%;
}

#submit {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    background-color: #4aaaa5;
    border: 1px solid #dddddd;
}

a.contact-link {
    color: #4aaaa5;
}
a:hover.contact-link {
    text-decoration: underline;
}